.menu-wrapper {
  position: absolute;
  z-index: 100;
  width: 100%;

  .menu-close-button {
    width: 84.4px;
  }
}
.map-wrapper {
  position: relative;
  svg {
    position: absolute;
    inset: 0;
    // width:100%;
    // height:100%;
  }
}

.menu-image {
  width: 100%;
  // margin:10%;
}
.menu {
  // position: absolute;
  overflow: hidden;
  transition: all 0.3s;
  // border-radius: 50%;
  // background-color: rgba(0, 0, 0, 0.51);
  margin: auto;
  top: 0;
  // transform: translateY(-43px);
  &.open {
    // border-radius: 0 0 10px 10px;
    height: 100%;
    // width: 80%;
  }

  &.hidden {
    height: 0;
    width: 0;
  }

  .menu-item {
    cursor: pointer;
    height: 40px;

    &.active {
      background-color: rgba(208, 208, 208, 0.372);
    }
  }
}

.clickable {
  cursor: pointer;
}
